<?xml version="1.0"?>
<launch>
  <!-- Launch the simulation -->
  <include file="$(find cvg_sim_gazebo)/launch/ardrone_testworld.launch">
  </include>


<!-- The gestures grammar -->
<node name="grammar_parser" pkg="drone_gestures_demo" type="grammar_parser.py" required="true" output="screen"/>
<node name="feedback" pkg="drone_gestures_demo" type="ardrone_feedback.py" required="true" output="screen"/>


  <!-- Launches the keyboard controller -->
  <node name="keyboard_controller" pkg="drone_gestures_demo" type="keyboard_controller.py" required="true" 
	output = "screen" args = "1" >
	 <remap from="/ardrone/out_info" to="/ardrone/drone_1_info" />
	 <remap from="/ardrone/info_in_1" to="/ardrone/drone_2_info" />
	 <remap from="/ardrone/info_in_2" to="/ardrone/drone_3_info" />
	 <remap from="/ardrone/info_in_3" to="/ardrone/drone_4_info" />
  </node>
	
  <node name="feedback_sound" pkg = "drone_gestures_demo" type = "sounds.py" required = "true" output="screen"/>
  <node name="state_estimation_1" pkg = "drone_gestures_demo" type = "state_estimation.py" required = "true" />
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" required = "true" />
  <arg name="marker_size" default="13.0" />
  <arg name="max_new_marker_error" default="0.04" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/ardrone/image_raw" />
  <arg name="cam_info_topic" default="/ardrone/camera_info" />	
  <arg name="output_frame" default="/ardrone_base_frontcam" />
  <arg name="bundle_files" default="$(find drone_gestures_demo)/bundles/box_3.xml $(find ardrone_swarm)/bundles/hat.xml" />
  <node name="ar_track_alvar_individual" pkg="ar_track_alvar_idsia" type="individualMarkersNoKinect" respawn="true" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" >
    <remap from="/ar_pose_marker" to="/ar_pose_marker_individual" />
  </node>
	
	
	
</launch>
